.error {
    background-color: red;
    bottom: 0;
    height: 25px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeSpeed;
}
