.loader {
    background: white;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    text-align: center;
}

.loader_inner {
    text-align: justify;
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader_line_wrap {
    animation: 
    spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader_line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader_line_wrap_one {animation-delay: -50ms; }
.loader_line_wrap_two { animation-delay: -100ms; }
.loader_line_wrap_three { animation-delay: -150ms; }
.loader_line_wrap_four { animation-delay: -200ms; }
.loader_line_wrap_five { animation-delay: -250ms; }

.loader_line_wrap_one .loader_line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader_line_wrap_two .loader_line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader_line_wrap_three .loader_line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader_line_wrap_four .loader_line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader_line_wrap_five .loader_line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    15% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}